<!-- Begin About -->
<section class="about">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="about.html">О компании</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>о компании</h2>
      <span class="en-lang">about us</span>
    </div>
  </div>
  <div class="mbox3">
    <ul class="about-links">
      <li>
        <a href="docs.html" class="el-button button-black">ДОКУМЕНТЫ</a>
      </li>
      <li>
        <a href="vacancies.html" class="el-button button-black">вакансии</a>
      </li>
    </ul>
    <div class="text-block">
      <h2>НСТГРУПП заголовок</h2>
      <br>
      <p>Группа компаний ООО «НСТГРУПП» начала свою деятельность в апреле 2007 года.</p>
      <br>
      <p>На сегодняшний день НСТГРУПП это:</p>
      <ul>
        <li>ведущий поставщик нерудных материалов оптом по всей России</li>
        <li>стабильно развивающаяся транспортно-экспедиционная группа компаний</li>
        <li>собственный подвижной состав: полувагоны, думпкары, платформы</li>
        <li>качественные нерудные материалы: щебень, песок, отсев, пгс, бутовый камень и др. всегда в наличии в необходимом количестве</li>
        <li>команда высококвалифицированных специалистов</li>
      </ul>
      <br>
      <p>Мы создали оптимальную для клиентов систему поставок, которая включает в себя как само нерудное сырье, соответствующее требуемому качеству и колличеству, так и его доставку железнодорожным транспортом.
      Наши партеры крупнейшие предприятия дорожной отрасли, нефтегазового комплекса, мостостроительные и строительные организации, предприятия ЖБИ.</p>
      <span>
        <img src="images/about-pic.jpg" height="455" width="746" alt="">
      </span>
      <h2>Структура компании состоит из направлений по нескольким Федеральным округам:</h2>
      <br>
      <p>Приволжский Федеральный округ: Саратовская область.</p>
      <br>
      <p>Центральный Федеральный округ: Белгородская область, Воронежская область, Московская область, Тамбовская область.</p>
      <br>
      <p>Южный Федеральный округ: Астраханская область, Адыгея, Волгоградская область, Краснодарский край, Калмыкия, Ростовская область, Ставропольский край.</p>
    </div>
  </div>
</section>
<!-- End About -->