<section class="advantages mbox">
	<div class="el-title">
		<h2>преимущества работы с нами</h2>
		<span class="en-lang">advantages</span>
	</div>
	<ul class="advantages-list">
		<li>
			<div class="advantages-icon">
				<img src="images/train-icon.png" alt="">
			</div>
			<div class="advantages-info">
				<div class="advantages-title">
					<h3>Ж/Д перевозки</h3>
				</div>
				<div class="advantages-text">
					<p>Наличие собственного железнодорожного подвижного состава гарантирует бесперебойность поставок и сохранность продукции.</p>
					<p>Отлаженная железнодорожная логистика обеспечивает отсутствие простоя вагонов и оперативную поставку.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="advantages-icon">
				<img src="images/cash-icon.png" alt="">
			</div>
			<div class="advantages-info">
				<div class="advantages-title">
					<h3>Нет валютных рисков</h3>
				</div>
				<div class="advantages-text">
					<p>Мы фиксируем цену на момент заключения сделки, вы не несете валютных рисков.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="advantages-icon">
				<img src="images/creditcard-icon.png" alt="">
			</div>
			<div class="advantages-info">
				<div class="advantages-title">
					<h3>товарный кредит</h3>
				</div>
				<div class="advantages-text">
					<p>Предоставляется товарный кредит сроком до 45 календарных дней.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="advantages-icon">
				<img src="images/discount-icon.png" alt="">
			</div>
			<div class="advantages-info">
				<div class="advantages-title">
					<h3>Скидки</h3>
				</div>
				<div class="advantages-text">
					<p>При заказе от 1000 тонн мы предоставляем более выгодные условия, скидки до 20%.</p>
				</div>
			</div>
		</li>
	</ul>
</section>