<!-- Begin Catalog -->
<section class="catalog">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="catalog.html">Каталог продукции</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>Каталог продукции</h2>
      <span class="en-lang">we offer</span>
    </div>
  </div>
  <div class="catalog-wrap">
<!--     <ul class="offer-list mbox">
      <li>
        <figure>
          <figcaption>Щебень
          <br>песчаный</figcaption>
          <div class="offer-pic">
            <img src="images/offer01.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">250 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>5-20, 20-40, 40-70</b> мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Щебень
          <br>гравийный</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog02.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">250 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>5-20, 20-40, 40-70, 3-10</b> мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Щебень известняковый</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog03.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">510 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>5-20, 20-40, 40-70</b> мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Щебень
          <br>гранитный</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog04.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">450 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>3-10, 5-10, 5-20, 20-40</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Камень
            <br>бутовый</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog05.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">340 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br>100-300мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Песчано гравийная смесь</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog06.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">220 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>0-10, 0-20, 0-40, 0-80</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Гранитный
          <br>отсев</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog07.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">105 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>0-5, 0-10</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Известняк</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog08.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">450 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>0-5, 0-10</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Щебеночно-песчаная
          <br>смесь</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog09.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">290 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>0-20, 0-40</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Известняковый
          <br>отсев</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog10.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">230 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>0-5</b>мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Песок
          <br>обогащенный</figcaption>
          <div class="offer-pic">
            <img src="images/offer-catalog11.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">140 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>5-20, 20-40, 40-70</b> мм.</p>
        </div>
      </li>
      <li>
        <figure>
          <figcaption>Ж/Д
            <br>перевозки</figcaption>
          <div class="offer-pic">
            <img src="images/offer01.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
        <a href="#cost-popup" class="el-button button-catalog">
          <span class="price">250 <b>₽/т</b></span>
          <span class="hide">заказать</span>
        </a>
        <div class="offer-info">
          <p><span style="font-weight:400;">Фракции:</span>
          <br><b>5-20, 20-40, 40-70</b> мм.</p>
        </div>
      </li>
    </ul> -->

    <div class="offer-list-row">
      <ul class="offer-list mbox">
        <li>
          <figure>
            <figcaption>Щебень
            <br>песчаный</figcaption>
            <div class="offer-pic">
              <img src="images/offer01.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">250 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Щебень
            <br>песчаный</figcaption>
            <div class="offer-pic">
              <img src="images/offer01.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">250 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Щебень
            <br>песчаный</figcaption>
            <div class="offer-pic">
              <img src="images/offer01.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">250 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Щебень
            <br>песчаный</figcaption>
            <div class="offer-pic">
              <img src="images/offer01.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">250 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="offer-list-row">
      <ul class="offer-list mbox">
        <li>
          <figure>
            <figcaption>Камень
              <br>бутовый</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog05.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">340 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br>100-300мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Песчано гравийная смесь</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog06.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">220 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>0-10, 0-20, 0-40, 0-80</b>мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Гранитный
            <br>отсев</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog07.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">105 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>0-5, 0-10</b>мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Известняк</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog08.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">450 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>0-5, 0-10</b>мм.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="offer-list-row">
      <ul class="offer-list mbox">
        <li>
          <figure>
            <figcaption>Щебеночно-песчаная
            <br>смесь</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog09.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">290 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>0-20, 0-40</b>мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Известняковый
            <br>отсев</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog10.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">230 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>0-5</b>мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Песок
            <br>обогащенный</figcaption>
            <div class="offer-pic">
              <img src="images/offer-catalog11.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">140 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
        <li>
          <figure>
            <figcaption>Ж/Д
              <br>перевозки</figcaption>
            <div class="offer-pic">
              <img src="images/offer01.jpg" alt="">
              <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
            </div>
          </figure>
          <a href="#cost-popup" class="el-button button-catalog">
            <span class="price">250 <b>₽/т</b></span>
            <span class="hide">заказать</span>
          </a>
          <div class="offer-info">
            <p><span style="font-weight:400;">Фракции:</span>
            <br><b>5-20, 20-40, 40-70</b> мм.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="discount">
  <div class="discount-pic">
    <img src="images/discount-bg.jpg" alt="">
    <div class="el-title">
      <h2>При заказе от 1000 тонн мы предоставляем <span style="color:#d56868;">скидку</span> до 20%</h2>
      <span class="en-lang">discount</span>
    </div>
  </div>
  <a href="#discount-popup" class="el-button button-red js-discount">получить персональную скидку</a>
</section>
<section class="catalog-advantages">
  <div class="mbox">
    <div class="el-title">
      <h2>преимущества работы с ООО НСТГРУПП:</h2>
      <span class="en-lang">advantages</span>
    </div>
    <ul>
      <li>
        <span>1</span>
        <div class="content">
          <div class="title">
            <h3>подвижной состав</h3>
          </div>
          <div class="text">
            <p>Собственный подвижной состав: полувагоны, думпкары, платформы!</p>
          </div>
        </div>
      </li>
      <li>
        <span>2</span>
        <div class="content">
          <div class="title">
            <h3>Скидки для оптовиков</h3>
          </div>
          <div class="text">
            <p>Вы получите необходимый объем продукта, даже
            если потребности вашего предприятия велики. Более
            того, для крупных оптовиков, которые закупают у нас
            материалы объемом более 1000 тонн, мы предлагаем
            скидки до 20%</p>
          </div>
        </div>
      </li>
      <li>
        <span>3</span>
        <div class="content">
          <div class="title">
            <h3>поставки</h3>
          </div>
          <div class="text">
            <p>Поставка будет выполнена точно в срок, в полном
            объеме, без простоя и задержек.</p>
          </div>
        </div>
      </li>
      <li>
        <span>4</span>
        <div class="content">
          <div class="title">
            <h3>фракция</h3>
          </div>
          <div class="text">
            <p>Заявленная фракция материала будет точно
            соответствовать фактическим параметрам
            доставленного продукта.</p>
          </div>
        </div>
      </li>
      <li>
        <span>5</span>
        <div class="content">
          <div class="title">
            <h3>качество материалов</h3>
          </div>
          <div class="text">
            <p>Независимо от времени года и погодных условий,
            решив купить у нас песок, бутовый камень или
            щебень, вы получите материал в том виде, в котором
            он должен быть: мы отвечаем за качество материала
            вплоть до момента отгрузки.</p>
          </div>
        </div>
      </li>
      <li>
        <span>6</span>
        <div class="content">
          <div class="title">
            <h3>Товарный кредит</h3>
          </div>
          <div class="text">
            <p>Мы предоставляем товарный кредит до 45 дней.
            Это очень выгодно!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="seo-block">
  <div class="mbox">
    <div class="el-title">
      <h2>Seo</h2>
      <span class="en-lang">Seo</span>
    </div>
    <div class="el-works">
      <div class="works-left">
        <div class="info">
          <h3>Наша компания располагает мощной логистической сетью,</h3>
          <br>
          <p>которая охватывает как железнодорожные, так и автомобильные пути сообщения. Располагая собственными вагонами различного типа
          (открытые вагоны, думпкары, платформы), а также грузовиками, мы
          доставим ваш щебень, песок или бутовый камень в любую точку
          России. В самые сжатые сроки.</p>
          <br>
          <p>Заказать нерудные материалы у нас так же просто, как купить бытовую технику в интернет-магазине. Оформите заказ на сайте или свяжитесь с нами по телефону: вы получите квалифицированную консультацию и сможете решить задачу поставки нерудных материалов на вашу площадку одним телефонным звонком.</p>
          <br>
          <h3>Не теряйте время — оформите заказ прямо сейчас!</h3>
        </div>
      </div>
      <div class="el-slide-pic">
        <img src="images/top-slide02.jpg" alt="">
        <div class="pic-after">
          <img src="images/top-slide02.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Catalog -->