<!-- Begin Catalog Inner -->
<section class="catalog-inner">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="catalog.html">Каталог продукции</a>
      </li>
      <li>
        <a href="catalog-inner.html">Щебень гравийный</a>
      </li>
    </ul>
    <div class="title">
      <h1>Щебень песчаный</h1>
      <span>390 <b>₽/т</b></span>
    </div>
    <ul class="services-list">
      <li>
        <i class="services-icon">
          <img src="images/train-transport.png" alt="">
        </i>
        <span>Доставка Ж/Д транспортом</span>
      </li>
      <li>
        <i class="services-icon">
          <img src="images/auto-transport.png" alt="">
        </i>
        <span>Доставка авто транспортом</span>
      </li>
      <li>
        <i class="services-icon">
          <img src="images/credit-icon.png" alt="">
        </i>
        <span>Товарный кредит</span>
      </li>
    </ul>
  </div>
  <div class="sort-wrap">
    <ul class="sort-list mbox">
      <li class="active">Щебень песчаный</li>
      <li>Щебень известняковый</li>
      <li>Камень бутовый</li>
      <li>Щебень гранитный</li>
      <li>Щебеночно-песчаная смесь</li>
      <li>Песчано гравийная смесь</li>
      <li>Известняк</li>
      <li>Известняковый отсев</li>
      <li>Песок обогащенный</li>
      <li>Гранитный отсев</li>
      <li>Щебень гравийный</li>
    </ul>
  </div>
  <ul class="offer-list mbox">
    <li>
      <figure>
        <figcaption>Щебень
        <br>песчаный</figcaption>
        <div class="offer-pic">
          <img src="images/offer01.jpg" alt="">
          <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
        </div>
      </figure>
      <a href="#cost-popup" class="el-button button-catalog">
        <span class="price">250 <b>₽/т</b></span>
        <span class="hide">заказать</span>
      </a>
      <div class="offer-info">
        <p><span style="font-weight:400;">Фракции:</span> <b>0-5</b> мм</p>
        <p><span style="font-weight:400;">Насыпная плотность:</span> <b>1.46</b> т/м.куб </p>
      </div>
    </li>
    <li>
      <figure>
        <figcaption>Щебень
        <br>гравийный</figcaption>
        <div class="offer-pic">
          <img src="images/offer-catalog02.jpg" alt="">
          <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
        </div>
      </figure>
      <a href="#cost-popup" class="el-button button-catalog">
        <span class="price">250 <b>₽/т</b></span>
        <span class="hide">заказать</span>
      </a>
      <div class="offer-info">
        <p><span style="font-weight:400;">Фракции:</span> <b>0-5</b> мм</p>
        <p><span style="font-weight:400;">Насыпная плотность:</span> <b>1.46</b> т/м.куб </p>
      </div>
    </li>
    <li>
      <figure>
        <figcaption>Щебень известняковый</figcaption>
        <div class="offer-pic">
          <img src="images/offer-catalog03.jpg" alt="">
          <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
        </div>
      </figure>
      <a href="#cost-popup" class="el-button button-catalog">
        <span class="price">510 <b>₽/т</b></span>
        <span class="hide">заказать</span>
      </a>
      <div class="offer-info">
        <p><span style="font-weight:400;">Фракции:</span> <b>0-5</b> мм</p>
        <p><span style="font-weight:400;">Насыпная плотность:</span> <b>1.46</b> т/м.куб </p>
      </div>
    </li>
    <li>
      <figure>
        <figcaption>Щебень
        <br>гранитный</figcaption>
        <div class="offer-pic">
          <img src="images/offer-catalog04.jpg" alt="">
          <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
        </div>
      </figure>
      <a href="#cost-popup" class="el-button button-catalog">
        <span class="price">450 <b>₽/т</b></span>
        <span class="hide">заказать</span>
      </a>
      <div class="offer-info">
        <p><span style="font-weight:400;">Фракции:</span> <b>0-5</b> мм</p>
        <p><span style="font-weight:400;">Насыпная плотность:</span> <b>1.46</b> т/м.куб </p>
      </div>
    </li>
  </ul>
  <div class="discount">
    <div class="discount-pic">
      <img src="images/discount-bg.jpg" alt="">
      <div class="el-title">
        <h2>При заказе от 1000 тонн мы предоставляем <span style="color:#d56868;">скидку</span> до 20%</h2>
        <span class="en-lang">discount</span>
      </div>
    </div>
  </div>
  <div class="el-cost">
    <div class="title">
      <h4>рассчитать стоимость</h4>
    </div>
    <form action="ajax-programer.php" method="post" class="cost-form">
      <div class="fields-wrap">
        <div class="form-field">
          <input type="text" name="name" placeholder="Имя" required />
        </div>
        <div class="form-field">
          <input type="text" name="tel" class="tel-mask" placeholder="Телефон" required />
        </div>
        <div class="form-field">
          <input type="text" name="city" placeholder="Город доставки" />
        </div>
        <div class="form-field">
         <select name="material" data-placeholder="Выберете материал">
          <option></option>
          <option value="">1Lorem ipsum</option>
          <option value="">2Lorem ipsum</option>
          <option value="">3Lorem ipsum</option>
        </select>
        </div>
        <div class="form-field">
          <input type="text" name="fraction" placeholder="Фракция" />
        </div>
        <div class="form-field">
          <input type="text" name="amount" placeholder="Количество" />
        </div>
      </div>
      <button type="submit" class="el-button button-red">отправить</button>
    </form>
  </div>
  <div class="text-wrap">
    <div class="text-block mbox3">
      <h3>Щебень песчаный. Такой простой и в то же время незаменимый материал</h3>
      <br>
      <p>Вряд ли есть люди, которые не осознают, до какой степени важен в строительстве качественный щебень. Карьерный вариант его добычи на сегодняшний день является прекрасным способом, позволяющим удовлетворить потребности рынка в качественных стройматериалах. Один из таких материалов – это песчаный щебень, который мы и предлагаем вашему вниманию.</p>
      <p>Этот материал, именуемый также песчаником, вы всегда можете заказать у нас, будучи полностью уверенными в его качестве. Занимаясь данной темой уже много лет, наша компания предлагает только проверенный, предоставляемый лучшими поставщиками щебень. Оптом, в особенности крупным, заказывать его крайне выгодно, по причине существенной экономии средств.</p>
      <br>
      <h3>Низкие цены, удобная доставка</h3>
      <br>
      <p>Купить щебень оптом будет выгодно каждому, кто занят единичным строительным проектом либо работает со множеством объектов. Меньшие затраты – вот что прежде всего гарантировано каждому нашему заказчику, помимо отличного качества приобретенной продукции. Причина этого проста: наша компания предлагает щебень оптом от производителя без посредников, что автоматически снижает его конечную стоимость для конечного потребителя.
      Особое внимание мы уделяем удобству доставки. Если вам требуется щебень оптом – жд завод, имеющий собственную ветку для отгрузки продукции, всегда к вашим услугам. Отметим также, что подобный вариант транспортировки отличается минимальной стоимостью, что особенно важно в наше кризисное время.</p>
      <br>
      <h3>Прислушиваясь к каждому клиенту</h3>
      <br>
      <p>Как известно, в зависимости от своего происхождения песчаники могут иметь различные свойства – прочность, плотность и окраску. Что, разумеется, с успехом используется в строительстве, в том числе и декоративном. Именно потому мы предлагаем вам цветной щебень – оптом и в самых разных вариациях, способных помочь в реализации множества проектов различной степени сложности.</p>
      <p>Индивидуально подходя к потребностям клиентов, мы обеспечиваем максимально быстрое и точное выполнение каждого заказа. При этом, доставляя щебень оптом вагонами, мы также предоставляем клиентам все необходимые гарантии.
      Таким образом, если вам нужен щебень (опт, Воронеж) – смело обращайтесь к нам. Обладая всем необходимым опытом в деле доставки данного материала в срок и максимально дешево, мы всегда рады любому плодотворному сотрудничеству.</p>
    </div>
  </div>
</section>
<!-- End Catalog Inner -->