<section class="certificates setion-animate">
	<div class="el-title">
		<h2>сертификаты</h2>
		<span class="en-lang">certificates</span>
	</div>
	<div class="cert-slider-wrap animate-it">
		<ul class="cert-slider">
			<li class="slide">
				<a href="images/diplom01.jpg" data-fancybox="gallery">
					<img src="images/diplom01.jpg" alt="">
					<span class="cert-hide">посмотреть</span>
				</a>
			</li>
			<li class="slide">
				<a href="images/diplom02.jpg" data-fancybox="gallery">
					<img src="images/diplom02.jpg" alt="">
					<span class="cert-hide">посмотреть</span>
				</a>
			</li>
			<li class="slide">
				<a href="images/diplom03.jpg" data-fancybox="gallery">
					<img src="images/diplom03.jpg" alt="">
					<span class="cert-hide">посмотреть</span>
				</a>
			</li>
			<li class="slide">
				<a href="images/diplom02.jpg" data-fancybox="gallery">
					<img src="images/diplom02.jpg" alt="">
					<span class="cert-hide">посмотреть</span>
				</a>
			</li>
			<li class="slide">
				<a href="images/diplom02.jpg" data-fancybox="gallery">
					<img src="images/diplom02.jpg" alt="">
					<span class="cert-hide">посмотреть</span>
				</a>
			</li>
		</ul>
		<div class="slider-nav">
	  	<div class="el-arrow next">
		    <a href="#" class="arrow-circle cert-slider-next">
		      <span class="slider-arrow"></span>
		    </a>
	  	</div>
	  	<div class="el-arrow">
		    <a href="#" class="arrow-circle cert-slider-prev">
		      <span class="slider-arrow"></span>
		    </a>
	  	</div>
  	</div>
	</div>
</section>