<!-- Begin Contacts -->
<section class="contacts">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="contacts.html">Контакты</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>наши контакты</h2>
      <span class="en-lang">Contacts</span>
    </div>
    <div class="mbox2">
      <ul class="contacts-list">
        <li>
          <div class="contacts-title">
            <h3>ООО "НСТГРУПП"</h3>
          </div>
          <div class="contacts-info">
            <a href="mailto:nstinfo@mail.ru" class="contacts-email">nstinfo@mail.ru</a>
            <p>БЦ "Риверсайд-Дон"  344000 
              <br>г.Ростов-на-Дону,  
              <br>ул. Береговая, д. 8, оф.609,610 
              <br>+7(863)247-58-25 
              <br>+7(863)201-88-77</p>
          </div>
        </li>
        <li>
          <div class="contacts-title">
            <h3>БУХГАЛТЕРИЯ</h3>
          </div>
          <div class="contacts-info">
            <a href="mailto:buh.nstinfo@mail.ru" class="contacts-email">buh.nstinfo@mail.ru</a>
            <p>БЦ "Риверсайд-Дон"  344000 
              <br>г.Ростов-на-Дону,  
              <br>ул. Береговая, д. 8, оф.609,610 
              <br>+7(863)247-58-25 
              <br>+7(863)201-88-77</p>
          </div>
        </li>
        <li>
          <div class="contacts-title">
            <h3>ОТДЕЛ ПРОДАЖ</h3>
          </div>
          <div class="contacts-info">
            <a href="mailto:a.sale.nstinfo@mail.ru  " class="contacts-email">a.sale.nstinfo@mail.ru  </a>
            <p>БЦ "Риверсайд-Дон"  344000 
              <br>г.Ростов-на-Дону,  
              <br>ул. Береговая, д. 8, оф.609,610 
              <br>+7(863)247-58-25 
              <br>+7(863)201-88-77</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts-bottom">
    <div class="mbox2">
      <div class="contacts-bottom-inner">
        <div id="map" class="map"></div>
        <form action="ajax-programer.php" method="post" class="contacts-form">
          <div class="title">
            <h3>напишите нам</h3>
          </div>
          <div class="form-field">
            <input type="text" name="name" placeholder="Имя" required />
          </div>
          <div class="form-field">
            <input type="email" name="email" placeholder="Е-mail" required />
          </div>
          <div class="form-field">
            <label for="message">Сообщение</label>
            <textarea id="message" name="message"></textarea>
          </div>
          <button type="submit" class="el-button button-red">отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contacts -->