<section class="our-works setion-animate">
  <div class="our-works-inner animate-it">
    <div class="mbox">
      <div class="el-title">
        <h2>примеры наших работ</h2>
        <span class="en-lang">our works</span>
      </div>
      <ul class="works-slider">
        <li class="el-works">
          <div class="works-left">
            <div class="info">
              <h3>Проект №1 Перевозка щебня в узбекестан</h3>
              <br>
              <br>
              <p>В арсенале нашей компании более 400 железнодорожных вагонов, что позволяет нам обеспечить заказчика нерудным сырьем любой фракции и в любой точке России по доступным ценам и в установленные сроки.
              </p>
            </div>
            <a href="services.html" class="el-button button-black">Смотреть все работы</a>
          </div>
          <div class="el-slide-pic">
            <img src="images/top-slide02.jpg" alt="">
            <div class="pic-after">
              <img src="images/top-slide02.jpg" alt="">
            </div>
          </div>
        </li>
        <li class="el-works">
          <div class="works-left">
            <div class="info">
              <h3>Проект №2 Перевозка щебня в узбекестан</h3>
              <br>
              <br>
              <p>В арсенале нашей компании более 400 железнодорожных вагонов, что позволяет нам обеспечить заказчика нерудным сырьем любой фракции и в любой точке России по доступным ценам и в установленные сроки.
              </p>
            </div>
            <a href="services.html" class="el-button button-black">Смотреть все работы</a>
          </div>
          <div class="el-slide-pic">
            <img src="images/top-slide01.jpg" alt="">
            <div class="pic-after">
              <img src="images/top-slide01.jpg" alt="">
            </div>
          </div>
        </li>
        <li class="el-works">
          <div class="works-left">
            <div class="info">
              <h3>Проект №3 Перевозка щебня в узбекестан</h3>
              <br>
              <br>
              <p>В арсенале нашей компании более 400 железнодорожных вагонов, что позволяет нам обеспечить заказчика нерудным сырьем любой фракции и в любой точке России по доступным ценам и в установленные сроки.
              </p>
            </div>
            <a href="services.html" class="el-button button-black">Смотреть все работы</a>
          </div>
          <div class="el-slide-pic">
            <img src="images/top-slide02.jpg" alt="">
            <div class="pic-after">
              <img src="images/top-slide02.jpg" alt="">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>