<!-- Begin Partners -->
<section class="partners">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="partners.html">Партнеры</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>партнеры</h2>
      <span class="en-lang">partners</span>
    </div>
    <ul class="partners-list">
      <li>
        <img src="images/fedex-logo.png" alt="">
      </li>
      <li>
        <img src="images/google-logo.png" alt="">
      </li>
      <li>
        <img src="images/vivo-logo.png" alt="">
      </li>
      <li>
        <img src="images/aliexpress-logo.png" alt="">
      </li>
      <li>
        <img src="images/soscredit-logo.png" alt="">
      </li>
      <li>
        <img src="images/soscredit-logo.png" alt="">
      </li>
      <li>
        <img src="images/ford-logo.png" alt="">
      </li>
      <li>
        <img src="images/fedex-logo.png" alt="">
      </li>
      <li>
        <img src="images/fotolia-logo.png" alt="">
      </li>
      <li>
        <img src="images/firefox-logo.png" alt="">
      </li>
    </ul>
  </div>
</section>
<!-- End Partners -->