<!-- Begin About -->
<section class="about">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Доставка</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>Транспортно-экспедиционные услуги</h2>
      <span class="en-lang">Forwarding services</span>
    </div>
  </div>
  <div class="mbox3">
    <ul class="about-links">
      <li>
        <a href="transport-auto.html" class="el-button button-black">автомобильные перевозки</a>
      </li>
      <li>
        <a href="transport-train.html" class="el-button button-black">Ж/д перевозки</a>
      </li>
    </ul>
    <div class="text-block">
      <h2>Транспортно-экспедиционные услуги</h2>
      <br>
			<p>Компания ООО «НСТГРУПП» занимается не только производством, но и перевозкой щебня. Доставляя свою высококачественную продукцию клиентам, мы используем разнообразный автомобильный и железнодорожный транспорт, обеспечивая скорейшую перевозку нерудных материалов в границах Южного федерального округа, Центральной России и многих стран СНГ.</p>
			<br>
			<p>При этом ЖД перевозки щебня обеспечивают наивысшую экономическую эффективность. Если сопоставить километраж и стоимость ресурсов, затраченных на его преодоление, транспортировка насыпных грузов по железной дороге окажется наиболее дешевым способом перевозки. К тому же использование грузового автотранспорта нередко оказывается затруднено весьма неудовлетворительным состоянием автомобильных дорог.</p>
			<br>
			<p>Перевозка щебня по железнодорожным магистралям производится в хопперах, полувагонах, думпкарах, а также любых других грузовых вагонах, применяемых на территории РФ для транспортировки сыпучих материалов. Контроль состояния грузов осуществляется на всем пути следования до потребителя, что полностью исключает саму возможность их хищения. Любые задержки в движении вагонов разрешаются специалистами компании в кратчайшие сроки.</p>
      <span>
        <img src="images/services-pic.jpg" height="455" width="746" alt="">
      </span>
      <h2>Транспортно-экспедиционные услуги</h2>
      <br>
      <p>Грамотная, профессионально выстроенная транспортная логистика имеет в нашей работе очень большое значение. Несмотря на то что щебень не является скоропортящимся грузом, компания ООО «НСТГРУПП» всегда использует оптимальные маршруты доставки, позволяющие в разы сократить время, проводимое им в пути.</p>
 			<br>
			<p>При этом мы не останавливаемся на достигнутом и придаем огромное значение неустанному развитию принципов транспортной логистики, поставленных нами в один ряд с постоянным совершенствованием технологических приемов переработки щебня. Это позволяет нам не только производить качественные сыпучие материалы для строительства, но и за минимальное время доставлять их на ваши объекты.</p>
			<br>
			<p>Решите проблему с нерегулярными поставками сыпучих стройматериалов, заказав качественный щебень с доставкой от компании ООО «НСТГРУПП»! Мы никогда не подводим наших клиентов, предлагая им сертифицированный щебень с наиболее знаменитых отечественных карьеров. Наш щебень прошел все необходимые лабораторные проверки, которые доказали – он действительно лучший!</p>
    </div>
  </div>
</section>
<!-- End About -->