 <section class="top-slider-wrap">
  <div class="el-arrow">
    <a href="#" class="arrow-circle top-slider-prev">
      <span class="slider-arrow"></span>
    </a>
  </div>
  <ul class="top-slider mbox">
    <li class="slide">
      <div class="slide-left">
        <div class="title">
          <h1>Реализация
            <br>нерудных
            <br>материалов</h1>
        </div>
        <div class="subtitle">
          <p>от 500 тонн</p>
        </div>
        <a href="about.html" class="el-button button-red">узнать больше</a>
      </div>
      <div class="el-slide-pic">
        <img src="images/top-slide01.jpg" alt="">
        <div class="pic-after">
          <img src="images/top-slide01.jpg" alt="">
        </div>
      </div>
    </li>
    <li class="slide">
      <div class="slide-left">
        <div class="title">
          <h1>Доставка
            <br>в любую 
            <br>точку России</h1>
        </div>
        <a href="about.html" class="el-button button-red">узнать больше</a>
      </div>
      <div class="el-slide-pic">
        <img src="images/top-slide02.jpg" alt="">
        <div class="pic-after">
          <img src="images/top-slide02.jpg" alt="">
        </div>
      </div>
    </li>
    <li class="slide">
      <div class="slide-left">
        <div class="title">
          <h1>Реализация
            <br>нерудных
            <br>материалов</h1>
        </div>
        <div class="subtitle">
          <p>от 500 тонн</p>
        </div>
        <a href="#" class="el-button button-red">узнать больше</a>
      </div>
      <div class="el-slide-pic">
        <img src="images/top-slide01.jpg" alt="">
        <div class="pic-after">
          <img src="images/top-slide01.jpg" alt="">
        </div>
      </div>
    </li>
  </ul>
  <div class="el-arrow next">
    <a href="#" class="arrow-circle top-slider-next">
      <span class="slider-arrow"></span>
    </a>
  </div>
 </section>