<!-- Begin Transport Train -->
<section class="transport train">
  <div class="mbox">
    <ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Доставка</a>
      </li>
      <li>
        <a href="transport-train.html">Ж/Д перевозки</a>
      </li>
    </ul>
    <div class="el-title">
      <h2>Ж/Д перевозки</h2>
      <span class="en-lang">transportation</span>
    </div>
    <div class="el-works">
      <div class="works-left">
        <div class="info">
          <h3>Проект №1 Перевозка щебня в узбекестан</h3>
          <br>
          <p>«НСТГРУПП» является зарекомендовавшей себя транспортно-экспедиторской компанией, которая занимается качественной перевозкой и поставкой нерудных материалов (щебень, песок, бутовый камень) железнодорожным транспортом их оформлением и сопровождением для нужд дорожной отрасли, нефтегазового комплекса мостостроительных организаций и крупного строительства. Железнодорожные поставки осуществляются полувагонами собственного и привлеченного парка.</p>
          <br>
          <p>Железнодорожные перевозки обеспечивают транспортировку грузов на большие расстояния, в том числе доставку грузов в труднодоступные регионы, где автоперевозки невозможны. Помимо надежности и наименьшей аварийности, железнодорожная грузоперевозка – это самый рентабельный вид транспортировки грузов. Стоимость перевозки здесь сочетается с высокой эффективностью. Железнодорожный транспорт не зависит от погодных условий.</p>
          <br>
          <p>Железнодорожные грузоперевозки с компанией ООО "НСТГРУПП" предполагают: расчёт тарифов, расчёт схем грузовых доставок, оформление железнодорожных документов, своевременную погрузку и выгрузку грузов, а также мониторинг груза во время пути следования (с обязательным информированием заказчика).</p>
        </div>
      </div>
      <div class="el-slide-pic">
        <img src="images/transport02.jpg" alt="">
        <div class="pic-after">
          <img src="images/transport02.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catalog-advantages">
  <div class="mbox">
    <div class="el-title">
      <h2>Преимущества ж/д перевозок с ООО "НСТГРУПП"</h2>
      <span class="en-lang">advantages</span>
    </div>
    <ul>
      <li>
        <span>1</span>
        <div class="content">
          <div class="title">
            <h3>своевременное оформление документов</h3>
          </div>
          <div class="text">
            <p>Учитывая обширную географию погрузок нашей
            компании, гарантируем своевременное
            оформление заготовок транспортных ЖД
            накладных в системе ЭТРАН на прибывающий
            груженый подвижной состав на станции выгрузки</p>
          </div>
        </div>
      </li>
      <li>
        <span>2</span>
        <div class="content">
          <div class="title">
            <h3>Контроль подачи состава</h3>
          </div>
          <div class="text">
            <p>Диспетчерский отдел позволяет качественно
            контролировать подачу подвижного состава
            как порожних, так и груженных вагонов в пути
            следования путем ежедневного
            информирования по электронной почте в
            виде дислокации</p>
          </div>
        </div>
      </li>
      <li>
        <span>3</span>
        <div class="content">
          <div class="title">
            <h3>сроки выполнения</h3>
          </div>
          <div class="text">
            <p>Сроки выполнения – рассмотрение заявок 1
            день с даты ее получения, выполнение заявок от
            5-10 календарных дней в зависимости от
            наличия подхода подвижного состава</p>
          </div>
        </div>
      </li>
      <li>
        <span>4</span>
        <div class="content">
          <div class="title">
            <h3>Срок под погрузку</h3>
          </div>
          <div class="text">
            <p>Нормативный срок под погрузку 72 часа с
            момента прибытия вагона на станцию погрузки</p>
          </div>
        </div>
      </li>
      <li>
        <span>5</span>
        <div class="content">
          <div class="title">
            <h3>Оплата по факсу</h3>
          </div>
          <div class="text">
            <p>Возможна оплата по факту отправления груженных вагонов на станции назначения</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="gallery">
  <div class="mbox">
    <div class="el-title">
      <h2>фотогалерея</h2>
      <span class="en-lang">photo gallery</span>
    </div>
  </div>
  <div class="gallery-slider-wrap">
    <ul class="gallery-slider">
      <li class="slide">
        <a href="images/gallery01.jpg" data-fancybox="gallery">
          <img src="images/gallery01.jpg" alt="">
          <div class="hide">
            <span class="hide-inner">
              <i class="zoom-icon"></i>
              <b>увеличить</b>
            </span>
          </div>
        </a>
      </li>
      <li class="slide">
        <a href="images/gallery01.jpg" data-fancybox="gallery">
          <img src="images/gallery01.jpg" alt="">
          <div class="hide">
            <span class="hide-inner">
              <i class="zoom-icon"></i>
              <b>увеличить</b>
            </span>
          </div>
        </a>
      </li>
    </ul>
    <div class="slider-nav">
      <div class="el-arrow next">
        <a href="#" class="arrow-circle gallery-slider-next">
          <span class="slider-arrow"></span>
        </a>
      </div>
      <div class="el-arrow">
        <a href="#" class="arrow-circle gallery-slider-prev">
          <span class="slider-arrow"></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Transport Train -->