<!-- Begin Transport Auto -->
<section class="transport">
	<div class="mbox">
		<ul class="el-breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Доставка</a>
      </li>
      <li>
        <a href="transport-auto.html">Автомобильные перевозки</a>
      </li>
    </ul>
		<div class="el-title">
	    <h2>Автомобильные перевозки</h2>
	    <span class="en-lang">transportation</span>
	  </div>
	  <div class="el-works">
      <div class="works-left">
        <div class="info">
          <h3>Проект №1 Перевозка щебня в узбекестан</h3>
          <br>
          <p>Компания ООО «НСТГРУПП» предлагает полный комплекс услуг
					по перевозке и поставке нерудных материалов по России.
					Доставка материалов производится напрямую с
					карьеров-производителей нерудных материалов в Ростовской
					области и Краснодарском крае. По желанию заказчика, доставка
					может быть осуществлена как железнодорожным, так и
					автотранспортом.</p> 
					<br>
					<p>Наличие всего необходимого для оперативной перевозки
					нерудных материалов обеспечивает нашей компании возможность
					долгосрочного сотрудничества с клиентами в сфере поставок
					нерудных материалов. Перевозка нерудных материалов
					осуществляется ООО «НСТГРУПП» с помощью самой
					современной грузовой техники. Этим обеспечивается надежная
					поставка материалов согласно графику. Объем наших ежедневных
					поставок автотранспортом достигает 1000 тонн, что
					обеспечивается парком в 20 единиц техники грузоподъемностью
					45-55 тонн. Доставка всех необходимых строительных материалов
					осуществляется нами, непосредственно, на строительные и
					производственные площадки заказчика.</p>
        </div>
      </div>
      <div class="el-slide-pic">
        <img src="images/transport01.jpg" alt="">
        <div class="pic-after">
          <img src="images/transport01.jpg" alt="">
        </div>
      </div>
    </div>
	</div>
</section>
<section class="car-park">
	<div class="mbox">
		<div class="el-title">
	    <h2>Наш автопарк</h2>
	    <span class="en-lang">advantages</span>
	  </div>
    <div class="text-block">
      <h2>Самосвалы</h2>
      <br>
      <p>Грузоподъемность – 30-50 тонн, в зависимости от насыпной плотности материала; объем кузова – 25-40 м3;
      общая высота – около 3 м. Основное предназначение такого вида транспорта - грузоперевозки перевозка
      щебня, глины, песка, угля и прочих сыпучих материалов.</p>
      <span>
        <img src="images/car-park01.jpg" height="455" width="750" alt="">
      </span>
    </div>
  </div>
</section>
<!-- End Transport Auto -->