<section class="we-offer">
  <div class="mbox">
    <div class="el-title">
      <h2>Мы предлагаем</h2>
      <span class="en-lang">we offer</span>
    </div>
    <ul class="offer-list">
      <li>
        <figure>
          <figcaption>Щебень
          <br>песчаный</figcaption>
          <div class="offer-pic">
            <img src="images/offer01.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Щебень
          <br>гравийный</figcaption>
          <div class="offer-pic">
            <img src="images/offer02.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Щебень известняковый</figcaption>
          <div class="offer-pic">
            <img src="images/offer03.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Щебень
          <br>гранитный</figcaption>
          <div class="offer-pic">
            <img src="images/offer04.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Песок
          <br>обогащенный</figcaption>
          <div class="offer-pic">
            <img src="images/offer05.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Камень
            <br>бутовый</figcaption>
          <div class="offer-pic">
            <img src="images/offer06.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Песчано гравийная смесь</figcaption>
          <div class="offer-pic">
            <img src="images/offer07.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Автомобильные перевозки</figcaption>
          <div class="offer-pic">
            <img src="images/offer08.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>Ж/Д
            <br>перевозки</figcaption>
          <div class="offer-pic">
            <img src="images/offer09.jpg" alt="">
            <a href="catalog-inner.html" class="offer-hide">посмотреть</a>
          </div>
        </figure>
      </li>
    </ul>
    <a href="catalog.html" class="el-button button-black">Смотреть все камни</a>
  </div>
</section>